#!/bin/bash

JAVA_HOME={{ java_home }}

{{ ecs_dashboard_install_dir }}/ecs-elasticsearch-cleaner-{{ ecs_dashboard_bin_version }}/bin/ecs-elasticsearch-cleaner --elastic-hosts {{ elastic_hosts }} --elastic-port {{ elastic_port }} --elastic-cluster {{ elastic_cluster_name }} --collection-days-to-keep {{ collection_days_to_keep }} --clean-data object-version {% if xpack_security_enable is defined and xpack_security_enable %} --xpack-user {{xpack_user}} --xpack-pwd {{xpack_pwd}} --xpack-key {{xpack_ssl_key}} --xpack-cert {{xpack_ssl_certificate}} --xpack--cert-ca {{xpack_ca_certificate}} {% endif %}
