#!/bin/bash

JAVA_HOME={{ java_home }}

{{ ecs_dashboard_install_dir }}/ecs-metadata-collector-{{ ecs_dashboard_bin_version }}/bin/ecs-metadata-collector --ecs-hosts {{ ecs_hosts }} --ecs-mgmt-access-key {{ ecs_mgmt_access_key }} --ecs-mgmt-secret-key {{ ecs_mgmt_secret_key }} --ecs-mgmt-port {{ ecs_mgmt_port }} --elastic-hosts {{ elastic_hosts }} --elastic-port {{ elastic_port }} --elastic-cluster {{ elastic_cluster_name }} --collect-data object {% if xpack_security_enable is defined and xpack_security_enable %} --xpack-user {{xpack_user}} --xpack-pwd {{xpack_pwd}} --xpack-key {{xpack_ssl_key}} --xpack-cert {{xpack_ssl_certificate}} --xpack--cert-ca {{xpack_ca_certificate}} {% endif %}
